@import "../../../node_modules/react-sticky-header/styles.css";
$color: #262828;

body {
  color: $color;
}

.dashboardPanels {
  background-color: #eee;
}

#panelTitle {
	font-size: 150%;
}

.bridgeExamples {

}

.Bridges-Grid {
	padding: 0px;
}

.bridgePanels {
	padding: 0px;
}